<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>

<div class="container">
	<h1>Salvar Pessoa Juridica</h1>
	<form th:action="${pessoaJuridica.id == null} ? @{/pessoas/juridica/save} : @{/pessoas/juridica/update} "
		  th:object="${pessoaJuridica}" method="post" >

		<div class="form-row">
			<div class="form-group col-md-12">
				<input class="form-control" type="number" id="id" th:field="*{id}" readonly="readonly" placeholder="Id Gerado Automático">
			</div>

			<div class="form-group col-md-6">
				<label for="nome">Nome</label>
				<input type="text" name="nome" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome completo">
			</div>

			<div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" th:field="*{email}" class="form-control" placeholder="E-mail">
			</div>
		</div>

		<!--Endereço-->
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="complemento">Complemento</label>
				<input type="text" class="form-control" th:field="*{endereco.complemento}" name="complemento" id="complemento" placeholder="ex: Rua dos Bobos, nº 0">
			</div>
			<div class="form-group col-md-3">
				<label for="bairro">Bairro</label>
				<input type="text" class="form-control" th:field="*{endereco.bairro}" name="bairro" id="bairro" placeholder="ex: São João da Vila">
			</div>

			<div class="form-group col-md-4">
				<label for="telefone">Telefone</label>
				<input type="text" name="telefone" id="telefone" th:field="*{telefone}" class="form-control" placeholder="Telefone">
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="logradouro">Logradouro</label>
				<input type="text" class="form-control" th:field="*{endereco.logradouro}" name="logradouro" id="logradouro">
			</div>

			<div class="form-group col-md-4">
				<label for="cidade">Cidade</label>
				<select id="cidade" th:field="*{endereco.cidade.id}" name="cidade" class="form-control">
					<option th:each="cidade :${listaCidades}"
							th:value="${cidade.id}" th:text="${cidade.nome}">
					</option>
				</select>
			</div>

			<div class="form-group col-md-4">
				<label for="cep">CEP</label>
				<input type="text" class="form-control" th:field="*{endereco.cep}" name="cep" id="cep">
			</div>
		</div>

		<!--SELEÇÃO PESSOA -->
		<div class="form-row">
			<div class="form-group col-md-6" >
				<label for="razaoSocial">Razão social</label>
				<input type="text" name="razaoSocial" id="razaoSocial" th:field="*{razaoSocial}" class="form-control" placeholder="Razão Social">

			</div>
			<div class="form-group col-md-6"  >
				<label for="cnpj">CNPJ</label>
				<input type="text" maxlength="14" name="cnpj" id="cnpj" th:field="*{cnpj}" class="form-control" placeholder="00.000.000/0000-00">
			</div>

		</div><!--form-row-->

		<!--BOTÃO SUBMIT-->
		<div class="form-group col-md-12" id="form-btn-cadastrar">
			<button type="submit" name="enviar" value="salvar" class="btn btn-primary form-control">Salvar</button>
		</div>

	</form>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>

<!--
th:field=*{atributo} - Quando Temos um objeto que já
possui dados é queremos exibir para poder editar.

th:text="" - Quando queremos exibir os dados de um objeto
-->