<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>

<div class="container">
	<h1>Salvar Pessoa Física</h1>

	<form th:action="${pessoaFisica.id == null} ? @{/pessoas/fisica/save} : @{/pessoas/fisica/update} "
		  th:object="${pessoaFisica}" method="post" >

		<div class="form-row">
			<div class="form-group col-md-12">
				<input class="form-control" type="number" id="id" th:field="*{id}" readonly="readonly" placeholder="Id Gerado Automático">
			</div>
			<div class="form-group col-md-6">
				<label for="nome">Nome</label>
				<input type="text" name="nome" th:errorclass="is-invalid" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome completo">
				<div class="invalid-feedback" th:errors="*{nome}"></div>
			</div>

			<div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="text" name="email" th:errorclass="is-invalid" id="email" th:field="*{email}" class="form-control" placeholder="E-mail">
				<div class="invalid-feedback" th:errors="*{email}"></div>
			</div>
		</div>

		<!--Endereço-->
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="complemento">Complemento</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{endereco.complemento}" name="complemento" id="complemento" placeholder="ex: Rua dos Bobos, nº 0">
				<div class="invalid-feedback" th:errors="*{endereco.complemento}"></div>
			</div>
			<div class="form-group col-md-3">
				<label for="bairro">Bairro</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{endereco.bairro}" name="bairro" id="bairro" placeholder="ex: São João da Vila">
				<div class="invalid-feedback" th:errors="*{endereco.bairro}"></div>
			</div>

			<div class="form-group col-md-4">
				<label for="telefone">Telefone</label>
				<input type="text" name="telefone" th:errorclass="is-invalid" id="telefone" th:field="*{telefone}" class="form-control" placeholder="Telefone">
				<div class="invalid-feedback" th:errors="*{telefone}"></div>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="logradouro">Logradouro</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{endereco.logradouro}" name="logradouro" id="logradouro">
				<div class="invalid-feedback" th:errors="*{endereco.logradouro}"></div>
			</div>

			<div class="form-group col-md-3">
				<label for="cidade">Cidade</label>
				<select id="cidade" th:field="*{endereco.cidade.id}" name="cidade" class="form-control">
					<option th:each="cidade :${listaCidades}"
							th:value="${cidade.id}" th:text="${cidade.nome}">
					</option>
				</select>
			</div>

			<div class="form-group col-md-3">
				<label for="cep">CEP</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{endereco.cep}" name="cep" id="cep">
				<div class="invalid-feedback" th:errors="*{endereco.cep}"></div>
			</div>
		</div>

		<!--SELEÇÃO PESSOA -->
		<div class="form-row">
			<div class="form-group col-md-12" >
				<label for="cpf">CPF</label>
				<input type="text" th:errorclass="is-invalid"  name="cpf" id="cpf" th:field="*{cpf}" class="form-control" placeholder="000.000.000-00">
				<div class="invalid-feedback" th:errors="*{cpf}"></div>
			</div>
			<!--BOTÃO SUBMIT-->
			<div class="form-group col-md-12" id="form-btn-cadastrar">
				<button type="submit" name="enviar" value="salvar" class="btn btn-primary form-control">Salvar</button>
			</div>
		</div><!--form-row-->

	</form>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>

<!--
th:field=*{atributo} - Quando Temos um objeto que já
possui dados é queremos exibir para poder editar.

th:text="" - Quando queremos exibir os dados de um objeto
-->