<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>

<div class="container">
    <!-- ADICIONAR O NOME DA PESSOA -->
    <h1>Clientes Cadastrados</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Fone</th>
            <th>Cidade</th>
        </tr>
        </thead>
        <tbody><!-- -->
        <tr th:each="p : ${pessoas}"><!-- foreach -->
            <td th:text="${p.id}"></td> <!-- atributo id-->
            <td th:text="${p.nome}"> </td>
            <td th:text="${p.getEmail()}"></td><!-- atributo name-->
            <td th:text="${p.getTelefone()}"></td><!-- atributo name-->
            <td th:text="${p.getEndereco().cidade.nome}"></td><!-- atributo name-->
<!--            <td th:text="${p.endereco.cidade.nome}"></td>&lt;!&ndash; atributo name&ndash;&gt;-->
<!--            <span th:if="${p.class.name == 'br.com.uanderson.loja.model.entity.PessoaFisica'}" th:text="${p.dadosPF(p).getNome()}"></span>-->
<!--            <span th:if="${p.class.name == 'br.com.uanderson.loja.model.entity.PessoaJuridica'}" th:text="${p.dadosPJ(p).getCnpj()}"></span>-->

<!--            <td> <a th:href="@{/pessoas/edit/{id}(id=${p.id})}">Editar</a> </td> &lt;!&ndash;pessoas/edit/1 - CONTROLLER &ndash;&gt;-->
<!--            <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoas/remove/{id}(id=${p.id})}">Excluir</a> </td>-->
        </tr>
        </tbody>
    </table>

    <div class="col mb-2">
        <div class="row">
            <div class="col-sm-12  col-md-6">
                <button class="btn btn-lg btn-block btn-primary" role="button"><a th:href="@{/}">Voltar</a></button>
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>