<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{home::bootstrap}">
    <link th:replace="~{home::font-awesome}">

    <title>PESSOAS FISICAS</title>
    <style>

        th,td{
            text-align: center;
            font-weight: bold;
        }
        button > a{
            color: white;
        }

    </style>

</head>
<body>

<header th:replace="~{home::header}"></header>

<div class="container">
    <!-- ADICIONAR O NOME DA PESSOA -->
    <h1>Clientes Cadastrados</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Fone</th>
<!--            <th>Cidade</th>-->
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody><!-- -->
        <tr th:each="p : ${pessoas}"><!-- foreach -->
            <td th:text="${p.id}"></td> <!-- atributo id-->
            <td th:text="${p.nome}"> </td>
            <td th:text="${p.getEmail()}"></td><!-- atributo name-->
            <td th:text="${p.getTelefone()}"></td><!-- atributo name-->
<!--            <td th:text="${p.endereco.cidade.nome}"></td>&lt;!&ndash; atributo name&ndash;&gt;-->
<!--            <span th:if="${p.class.name == 'br.com.uanderson.aula06jpaheranca.model.entity.PessoaFisica'}" th:text="${p.dadosPF(p).getNome()}"></span>-->
<!--            <span th:if="${p.class.name == 'br.com.uanderson.aula06jpaheranca.model.entity.PessoaJuridica'}" th:text="${p.dadosPJ(p).getCnpj()}"></span>-->

            <td> <a th:href="@{/pessoas/edit/{id}(id=${p.id})}">Editar</a> </td> <!--pessoas/edit/1 - CONTROLLER -->
            <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoas/remove/{id}(id=${p.id})}">Excluir</a> </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">
        <a th:href="@{/pessoas/form}">Cadastrar Novo</a>
    </button>
    <button type="button" class="btn btn-primary"> <a th:href="@{/}">Voltar</a></button>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>