<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>

<div class="container">
    <!-- ADICIONAR O NOME DA PESSOA -->
    <h1>Pessoas Juridicas Cadastradas</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Razão social</th>
            <th>Email</th>
            <th>CNPJ</th>
            <th>Fone</th>
            <th>Cidade</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody><!-- -->
        <tr th:each="pj : ${pessoasJuridicas}"><!-- foreach -->
            <td th:text="${pj.getId()}"></td> <!-- atributo id-->
            <td th:text="${pj.getNome()}"></td> <!-- atributo id-->
            <td th:text="${pj.getRazaoSocial()}"></td> <!-- atributo id-->
            <td th:text="${pj.getEmail()}"></td><!-- atributo name-->
            <td th:text="${pj.getCnpj()}"></td><!-- atributo name-->
            <td th:text="${pj.getTelefone()}"></td><!-- atributo name-->
            <td th:text="${pj.getEndereco().cidade.nome}"></td><!-- atributo name-->
            <td> <a th:href="@{/pessoas/juridica/edit/{id}(id=${pj.id})}"> <i class="fa-solid fa-pen-to-square "></i> </a> </td> <!--pessoas/edit/1 - CONTROLLER -->
            <td sec:authorize="hasRole('ROLE_ADMIN')"> <a style="color: red"  onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoas/juridica/remove/{id}(id=${pj.id})}"> <i class="fa-solid fa-trash"></i> </a> </td>
        </tr>
        </tbody>
    </table>

    <div class="col mb-2">
        <div class="row">
            <div class="col-sm-12  col-md-6">
                <button class="btn btn-lg btn-block btn-primary" role="button"><a th:href="@{/}">Voltar</a></button>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
                <button class="btn btn-lg btn-block btn-success" role="button"><a th:href="@{/pessoas/juridica/form}">Novo</a></button>
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>