<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{home::bootstrap}">
    <link th:replace="~{home::font-awesome}">

    <title>Buscando pessoas do Banco</title>
    <style>


        th,td{
            text-align: center;
            font-weight: bold;
        }
        button > a{
            color: white;
        }

    </style>

</head>
<body>
<header th:replace="~{home::header}"></header>

<div class="container m-5" style="border:1px solid black">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID Item</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-center">QTD</th>
                        <th scope="col" class="text-right">Preço</th>
                        <th scope="col" class="text-right">Valor</th>
                        <th scope="col" class="text-center">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${itemVendaList}">
                        <td th:text="${i.getId()}"></td>
                        <td th:text="${i.getProduto().getId()}"></td>
                        <td th:text="${i.getProduto().getDescricao()}">Bike</td>
                        <td>
                            <span th:text="${i.getQtd()}"></span>
                            <a th:href="@{/produtos/alterarQuantidade/{id}/{acao}(id=${i.getProduto().getId()},acao=${0})}" class="btn btn-sm btn-danger m-2"> <i class="fa-solid fa-minus"></i> </a>
                            <a th:href="@{/produtos/alterarQuantidade/{id}/{acao}(id=${i.getProduto().getId()},acao=${1})}" class="btn btn-sm btn-primary m-2"> <i class="fa-solid fa-plus"></i> </a>
                        </td>
                        <td th:text="${i.getProduto().getValor()}" class="text-right"> </td>
                        <td th:text="${i.total()}" class="text-right"></td>

                        <td class="text-right">
                            <a th:href="@{/produtos/removerProduto/{id}(id=${i.getProduto().getId()})}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td class="text-right">
                            R$<strong th:text="${venda.total()}"></strong>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a th:href="@{/produtos/list}" class="btn btn-lg btn-block btn-primary ">Continuar comprado</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success ">Finalizar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>