<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>

<div class="container m-5" style="border: 1px solid black">
    <form th:action="@{/vendas/finalizar/confirmar}" method="post">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Descrição</th>
                            <th scope="col" class="text-center">QTD</th>
                            <th scope="col" class="text-right">Preço</th>
                            <th scope="col" class="text-right">Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${session.venda.getItensList()}">
                            <td th:text="${i.getProduto().getId()}"></td>
                            <td th:text="${i.getProduto().getDescricao()}">Bike</td>
                            <td>
                                <span th:text="${i.getQtd()}"></span>
                            </td>
                            <td th:text="${i.getProduto().getValor()}" class="text-right"> </td>
                            <td th:text="${i.total()}" class="text-right"></td>

                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right">
                                R$<strong th:text="${session.venda.total()}"></strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <label for="pessoa">Cliente</label>
                            <select id="pessoa" th:field="*{venda.pessoa}" name="pessoa" class="form-control">
                                <option
                                        th:value="${pessoaLogada.id}" th:text="${pessoaLogada.nome}">
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-12  col-md-6">
                            <label for="pessoa">Endereço</label>
                            <select id="endereco" th:field="*{venda.pessoa.endereco}" name="pessoa" class="form-control">
                                <option
                                        th:value="${pessoaLogada.getEndereco().id}" th:text="${pessoaLogada.getEndereco()}">
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 text-right">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Finalizar Compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>