<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">
<body>
<header th:replace="~{fragments/header::header}"></header>
<div class="container">
    <h1>Produtos Cadastrados</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th colspan="3">Ações</th>
        </tr>
        </thead>
        <tbody><!-- -->
        <tr th:each="p : ${produtos}"><!-- foreach -->
            <td th:text="${p.getId()}"></td> <!-- atributo id-->
            <td th:text="${p.getDescricao()}"></td><!-- atributo name-->
            <td th:text="${p.valor}"></td><!-- atributo name-->
            <td><a style="color: green" th:href="@{/vendas/adicionar/produto/{id}(id=${p.id})}"><i class="fa-solid fa-cart-plus"></i></a></td>
            <td><a th:href="@{/produtos/edit/{id}(id=${p.id})}"><i class="fa-solid fa-pen-to-square "></i></a></td>
            <td>
                <a style="color: red" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produtos/remove/{id}(id=${p.id})}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>


    <button class="btn btn-success" role="button"><a th:href="@{/produtos/form}">Novo Produto</a></button> <!--pessoas/edit/1 - CONTROLLER -->
    <button class="btn btn-primary" role="button"><a th:href="@{/}">Voltar</a></button>
</div>




<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>