<!doctype html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}">

<body>
<header th:replace="~{fragments/header::header}"></header>
<div class="container">
    <h1>Itens Venda Cadastrados</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID ItemVenda</th>
            <th>Produto</th>
            <th>Valor Produto</th>
            <th>QTD</th>
            <th>Venda</th>
            <th>Pessoa</th>
            <th>Total</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody><!-- -->
        <tr th:each="itens : ${itensVenda}"><!-- foreach -->
            <td th:text="${itens.getId()}"></td> <!-- atributo id-->
            <td th:text="${itens.getProduto().getDescricao()}"></td><!-- atributo name-->
            <td th:text="${itens.getProduto().getValor()}"></td><!-- atributo name-->
            <td th:text="${itens.getQtd()}"></td><!-- atributo name-->
            <td th:text="${itens.venda.id}"></td><!-- atributo name-->
            <td th:text="${itens.venda.pessoa.nome}"></td><!-- atributo name-->
            <td th:text="${itens.total()}"></td><!-- atributo name-->
<!--            <td> <a style="color: green" th:href="@{/itemvenda/edit/{id}(id=${itens.id})}"><i class="fa-solid fa-cart-shopping"></i></a> </td> &lt;!&ndash;pessoas/edit/1 - CONTROLLER &ndash;&gt;-->
            <td> <a th:href="@{/itemvenda/edit/{id}(id=${itens.id})}"><i class="fa-solid fa-pen-to-square "></i></a> </td> <!--pessoas/edit/1 - CONTROLLER -->
            <td> <a style="color: red" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/itemvenda/remove/{id}(id=${itens.id})}"><i class="fa-solid fa-trash"></i></a> </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" role="button"><a th:href="@{/}">Voltar</a></button>

</div>

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>